* {
    font-family: 'Handjet', 'Roboto', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 1rem;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-status-msg {
    font-size: 1.5rem;
    text-align: center;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.player-tags {
    text-align: center;
    display: grid;
    grid-template-columns: minmax(50px, 100px) 1fr minmax(50px, 100px);
    justify-content: center;
    gap: 20px;
}

.player-tags>* {
    overflow: hidden;
}

.game-board {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.board-cell {
    border: 1px solid black;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-cell:nth-child(1) {
    border-top: none;
    border-left: none;
}

.board-cell:nth-child(2) {
    border-top: none;
}

.board-cell:nth-child(3) {
    border-top: none;
    border-right: none;
}

.board-cell:nth-child(4) {
    border-left: none;
}

.board-cell:nth-child(6) {
    border-right: none;
}

.board-cell:nth-child(7) {
    border-bottom: none;
    border-left: none;
}

.board-cell:nth-child(8) {
    border-bottom: none;
}

.board-cell:nth-child(9) {
    border-bottom: none;
    border-right: none;
}

.game-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.game-alias-control {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.game-state-controls {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-self: center;
}

input[type='button'] {
    color: white;
    background-color: black;
    border: none;
    width: 70px;
}

.copyright-msg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#github-icon {
    height: 30px;
}